<html>
    <head>
        <link href="/assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h2>person Id: <%= id%></h2>
        <h2>person Name: <%= name%></h2>
    </body>
</html>