<html>
    <head>
    </head>
    <body>
        <h2>Socket Io</h2>
        <form id="form_socket">
            <input name="message" id="message" placeholder="Message">
            <button>Send</button>
        </form>
        <script src='/socket.io/socket.io.js'></script>
        <script src='/chat.js'></script>
    </body>
</html>